*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0 !important;
}
html {
  box-sizing: border-box;
}
#home {
  background-image: url("./image/zachary-staines-0kvS01RVKQI-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.header {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  background-color: rgba(86, 64, 30, 0.893);
  color: white !important;
  width: 100%;
  height: 40px;
  z-index: 99;
  position: sticky;
  top: 0;
  padding: 4px 100px !important;
  box-shadow: 0 0 8px 8px rgba(86, 64, 30, 0.893);
}
.brand {
  display: flex;
}
.brand-name {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
#menu {
  box-sizing: border-box;
  display: flex;
  position: absolute;
  right: 100px;
}
.menu-list {
  list-style-type: none;
  margin-bottom: 5px !important;
}
.menu-list a:hover {
  color: rgb(0, 255, 8) !important;
  transition: 0.3s ease-in-out;
}

.menu-list .dropdown .dropdown-link {
  display: none;
}
.menu-list:hover .dropdown .dropdown-link {
  display: block;
  color: rgb(255, 255, 255);
}
.dropdown {
  display: none;
  box-shadow: 0 5px 5px 5px rgba(86, 64, 30, 0.893) !important;
}
.menu-list:hover .dropdown {
  display: block;
}
.menu-link {
  text-decoration: none;
  color: white !important;
  padding: 0 10px !important;
}
.dropdown-list {
  background-color: rgba(86, 64, 30, 0.893) !important;
  padding: 5px !important;
  margin-bottom: 1px !important;
}
.dropdown-list,
.dropdown-link {
  list-style-type: none;
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-align: center;
  z-index: 99;
  font-size: 15px;
}
.arrowDown {
  font-size: 15px;
}
.dropdown-link:hover {
  transform: scale(1.5);
  background-color: rgba(86, 64, 30, 0) !important;
  border-radius: 10px;
}
.menu-list .contact {
  background-color: white !important;
  color: rgb(255, 0, 0) !important;
  border-radius: 10px;
}
#carouselExampleCaptions,
.carousel-item .carousel-inner {
  height: 70vh;
  /* border-end-start-radius: 10px;
    border-end-end-radius: 10px; */
}
.carousel-caption h1,
.carousel-caption p {
  border-radius: 10px;
  width: 100%;
}
.carousel-caption {
  height: 200px;
  background-color: rgba(0, 0, 0, 0.472);
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.472);
}
.carousel img {
  border: 10px double rgb(255, 255, 255);
  height: 69vh;
}
.space {
  height: 10vh;
}
#first-category {
  background-color: white;
  height: fit-content;
  padding: 100px !important;
  text-align: center;
}
#product-container {
  display: flex;
  flex-wrap: wrap;
}
.product {
  box-sizing: border-box !important;
  width: 400px;
  margin: 10px;
  position: relative;
  text-align: left;
}
.product h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.product p {
  margin: 20px;
  font-size: 25px;
}
.product img {
  width: 100%;
  height: 400px;
}
.box {
  position: absolute;
  top: 10px;
  right: 10px;
  left: 10px;
  height: 380px;
  border: 5px solid rgba(255, 255, 255, 0.652);
}

.fa-circle-chevron-left,
.fa-circle-chevron-right {
  color: rgb(86, 64, 30);
  font-size: 50px;
  border-radius: 100px;
}
#hamburger {
  display: none;
}
#close {
  display: none;
}

/* Large devices such as laptops (1024px and up) */
@media (max-width: 1000px){
  .header {
    padding: 5px 50px !important;
    font-size: 20px !important;
    height: 40px;
  }
.dropdown-link {
  font-size: 12px;
}
.arrowDown {
  font-size: 10px;
}
#hamburger {
  display: none;
}
#close {
  display: none;
}
  #menu {
    position: absolute;
    right: 50px;
  }
  #carouselExampleCaptions,
  .carousel-item .carousel-inner {
    height: 50vh !important;
  }
  .carousel img {
    height: 50vh;
  }
  .space {
    height: 5vh;
  }
  #first-category {
    padding: 10px !important;
  }
  #product-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .product {
    margin-bottom: 40px !important;
    width: 30%;
  }
  .product h1 {
    font-size: 25px;
  }
  .product p {
    font-size: 20px;
  }
  .product img {
    height: 250px;
  }
  .box {
    height: 230px;
  }
}

/* Medium devices such as tablets (768px and up) */
@media (max-width: 767px) {
  .header {
    padding: 5px 10px !important;
    font-size: 20px !important;
    height: 40px;
  }
  .arrowDown {
    font-size: 10px;
  }
  #close {
    position: absolute;
    top: 5px;
    right: 20px;
  }
  #hamburger {
    display: none;
  }
  #close {
    display: none;
  }
  #menu {
    position: absolute;
    right: 10px;
  }
  #carouselExampleCaptions,
  .carousel-item .carousel-inner,
  .carousel img {
    height: 40vh !important;
  }
  .carousel-caption {
    height: 150px;
  }
  .space {
    height: 5vh;
  }
  #first-category {
    padding: 10px !important;
  }
  #product-container {
    display: flex;
    justify-content: space-evenly;
  }
  #first-category {
    padding: 10px !important;
  }
  .product {
    margin-bottom: 40px !important;
    width: 45%;
  }
  .product h1 {
    font-size: 25px;
  }
  .product p {
    font-size: 20px;
  }
  .product img {
    height: 250px;
  }
  .box {
    height: 230px;
  }
}

@media (min-width: 200px) and (max-width: 576px) {
  .header {
    padding: 5px 10px !important;
    font-size: 18px;
    height: 36px;
  }
  #hamburger {
    display: block;
    position: absolute;
    top: 5px;
    right: 20px;
  }
  #menu {
    display: none;
  }
  .arrowDown {
    font-size: 9px;
  }
  .dropdown a {
    box-shadow: 0 0 0 0 !important;
    text-align: start;
  }
  #close {
    position: absolute;
    top: 5px;
    right: 20px;
  }
  #carouselExampleCaptions,
  .carousel-item .carousel-inner,
  .carousel img {
    height: 30vh !important;
  }
  .carousel-caption h1 {
    font-size: 20px;
  }
  .carousel-caption p {
    font-size: 15px;
  }
  .carousel-caption {
    height: 100px;
  }
  .space {
    height: 5vh;
  }
  #product-container {
    width: 100%;
  }
  #first-category {
    padding: 10px !important;
  }
  .product {
    margin-bottom: 40px !important;
    width: 100%;
  }
  .product h1 {
    font-size: 25px;
  }
  .product p {
    font-size: 20px;
  }
  .product img {
    height: 250px;
  }
  .box {
    height: 230px;
  }
}
